.navBar {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  width: 100vw;
  height: 4.9rem;
  padding-left: 8.4%;
  padding-right: 8.4%;
}

.mobileNavBarContainer {
  display: flex;
}

.navLinks {
  display: none;
}

.navLinksOpen {
  display: block;
}
